 {% extends 'admin/base_site.html' %}

 {% block content %}
 <form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="export_as_csv" />
    <table>{{ form }}</table>

    {% for object in objects %}
        <input type="hidden" name="_selected_action" value="{{ object.pk }}">
    {% endfor %}

    <div>
        <input type="submit" name="export_as_csv" value="Submit" />
        <a style="padding:10px 15px" href="" class="button cancel-link">No, take me back</a>
    </div>
 </form>
 {% endblock %}
